/* Place your CSS styles in this file */

body {background-color: mistyrose;}
body {border:5px solid lightblue;}
body {border-radius:15px;}

h1 {
    text-align: left;
    font-family: "Georgia", sans-serif;
    font-weight: normal;
