/* Place your CSS styles in this file */
body {background-color: midnightblue;}
body {border: 5px white;}
body {border-radius: 15px;}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
